@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Community.ExtensionMethods.Dates
@using Umbraco.Community.ExtensionMethods.Social
@using Umbraco.Community.ExtensionMethods.Strings;
@using Umbraco.Community.ExtensionMethods.ImageGen;
@using umbraco.BusinessLogic;
@using Umbraco.Core;

@{
    Layout = null;

    //Get the date from the node as a DateTime object
    DateTime storedDate = Model.Content.GetPropertyValue<DateTime>("ageTest");
    var bodyText = Model.Content.GetPropertyValue<string>("bodyText");
    
    var email = "warren@creativewebspecialist.co.uk";

    var vimeoID = "17687260";

    var myMediaItem = Umbraco.TypedMedia(1049);    
    
}

<h1>Date Tests</h1>
<h2>Date: @storedDate</h2>
<h2>Age: @storedDate.Age()</h2>
<h2>@storedDate.GetDayNumber()</h2>
<h2>Pretty Date: @storedDate.PrettyDate()</h2>
<h2>Leap Year? @storedDate.IsLeapYear()</h2>
<h2>Weekday? @storedDate.IsWeekday()</h2>
<h2>Weekend? @storedDate.IsWeekend()</h2>
<h2>Within 7 days? @storedDate.DateWithinLastDays(7)</h2>
<h2>First Day @storedDate.GetFirstDayOfMonth().DayOfWeek</h2>
<h2>Last Day @storedDate.GetLastDayOfMonth().DayOfWeek</h2>
<h2>Unix time @storedDate.ToUnixTime()</h2>


<hr/>

<h1>Social</h1>
<h2>Gravatar example</h2>
<img src="@email.GravatarImageURL(size: 50)"/>

<h2>Vimeo ID: @vimeoID </h2>
@* Html.Raw(vimeoID.VimeoEmbed(300,300)) *@
<hr/>

<h1>Users</h1>
<h1>Strings</h1>
<h2>Get Sentence 3: @bodyText.GetSentence(2)</h2>
<h2>Get Paragraph 4:</h2> @Html.Raw(bodyText.GetParagraph(0))

<h1>ImageGen</h1>
@(myMediaItem.GetPropertyValue<string>("umbracoFile"))
<h2>@ImageGen.ImageGenUrl(myMediaItem.GetPropertyValue<string>("umbracoFile"),align:ImageGenAlign.Center)</h2>
<h2>@myMediaItem.ImageGenUrl(align:ImageGenAlign.Center)</h2>