@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Community.ExtensionMethods.Dates
@using Umbraco.Community.ExtensionMethods.Social
@using umbraco.BusinessLogic;
@using Umbraco.Core;

@{
    Layout = null;

    //Get the date from the node as a DateTime object
    DateTime storedDate = Model.Content.GetPropertyValue<DateTime>("ageTest");

    var email = "warren@creativewebspecialist.co.uk";
    
    User testy = new User(1);
    testy.
}

<h1>Date Tests</h1>
<h2>Date: @storedDate</h2>
<h2>Age: @storedDate.Age()</h2>
<h2>@storedDate.GetDayNumber()</h2>
<h2>Pretty Date: @storedDate.PrettyDate()</h2>
<h2>Leap Year? @storedDate.IsLeapYear()</h2>
<h2>Weekday? @storedDate.IsWeekday()</h2>
<h2>Weekend? @storedDate.IsWeekend()</h2>
<h2>Within 7 days? @storedDate.DateWithinLastDays(7)</h2>
<h2>First Day @storedDate.GetFirstDayOfMonth().DayOfWeek</h2>
<h2>Last Day @storedDate.GetLastDayOfMonth().DayOfWeek</h2>
<h2>Unix time @storedDate.ToUnixTime()</h2>


<hr/>

<h1>Social</h1>
<h2>Gravatar example</h2>
<img src="@email.GravtarImageURL(size: 50)"/>

<hr/>

<h1>Users</h1>
